@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #f5b535;
  --secondary: #7a5a1a;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(39, 39, 39) !important;
}
